<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Questown - {{ title }}</title>
</head>
<body>

    <div class="alert alert-primary" align="center" role="alert" >
        <a href = "{{ url_for('home') }}"><strong>QUESTOWN</strong></a>
    </div>

    <main role="main" class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </main>

    <li><a href="{{ url_for('logout') }}">Log out</a></li>


    <img src="{{ image_file }}">
    <div class="media=-body offset-md-1">
        <h2 class="">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
    </div>

    <form method = "POST" action = "" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4 offset-md-1">Account Information</legend>
            <div class = "form-group col-md-6 offset-md-1">
                {{ form.username.label(class = "form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class = "form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class = "form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class = "form-group col-md-6 offset-md-1">
                {{ form.name.label(class = "form-control-label") }}
                {{ form.name(class = "form-control form-control-lg") }}
            </div>
            <div class = "form-group col-md-6 offset-md-1">
                {{ form.email.label(class = "form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class = "form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class = "form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class = "form-group col-md-6 offset-md-1">
                {{ form.gender.label(class = "form-control-label") }}
                {{ form.gender(class = "form-control form-control-lg") }}
            </div>
            <div class = "form-group col-md-6 offset-md-1">
                {{ form.age.label(class = "form-control-label") }}
                {{ form.age(class = "form-control form-control-lg") }}
            </div>
            <div class = "form-group col-md-6 offset-md-1">
                {{ form.about.label(class = "form-control-label") }}
                {% if form.about.errors %}
                    {{ form.about(class = "form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                        {% for error in form.about.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.about(class = "form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group col-md-6 offset-md-1">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
            {% for group in groups %}
                {% if group.initiator == current_user %}
            <a href="{{ url_for('update_beacon', group_id=group.id) }}">{{ group.quest_name }}</a>
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class = "form-group col-md-4 offset-md-1">
            {{ form.submit(class = "btn btn-outline-info") }}
        </div>
    </form>

</body>
</html>