<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Questown - {{ title }}</title>
</head>
<body>

    {% for group in groups %}
        <img src="{{ url_for('static', filename='profile_pics/' + group.initiator.image_file) }}">
        <a href="">{{ group.init_name }}</a>
        {{ group.init_name }}
        {{ group.init_age }}
        {{ group.init_gender }}
        {{ group.init_about }}
    {% endfor %}
</body>
</html>