<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Questown - {{ title }}</title>
</head>
<body>

    <img src="{{ image_file }}">

    <h1>{{ user.name }}</h1>

    <p>{{ user.email }}</p>

    <p>Gender: {{ user.gender }}</p>

    <p>Age: {{ user.age }}</p>
    <h0>About:</h0>
    <br>{{ user.about }}</br>
<u></u>
</body>
</html>