<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
      <div class="alert alert-primary" align="center" role="alert" >
   <strong> QUESTOWN </strong>
    </div>

    <div style="text-align: center;"><h1>Choose your Best Quest!</h1></div>
    <div style="text-align: center;"><p1>Our progressive system will find for you perfect people for lonely evenings. Make some Quest right now!</p1></div>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal">
<fieldset>

<hr width=1 align="center">

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="preferences">Key preferences:</label>
  <div class="col-md-4">
  <input id="preferences" name="Your preferences" type="text" placeholder="Type keywords" class="form-control input-md">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">Сity:</label>
  <div class="col-md-4">
    <select id="city" name="City" class="Type your city">
      <option value="1">Saint-Petersburg</option>
      <option value="2">Moscow</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="subway_station">Subway:</label>
  <div class="col-md-4">
    <select id="subway_station" name="subway_station" class="form-control">
      <option value="1">Lomonosovskaya</option>
      <option value="2">Vosstaniya</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="price_min">Price range:</label>
  <div class="col-md-2">
    <select id="price_min" name="price_min" class="form-control">
      <option value="1">100-1000 RUB</option>
      <option value="2">1000 - 2000 RUB</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic"></label>
  <div class="col-md-2">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Search</button>
  </div>
</div>

</fieldset>
</form>

</body>

</html>
